<!--

<h1>Enter match details</h1>


<form action="{% url 'input' %}" method="get" enctype="multipart/form-data">
{% csrf_token %}
<h2>Team 1</h2>
{% for field in form %}
                <div class="form-group">
                    <label style="font-size: 20px;color: black; " >{{ field.label_tag }}</label >
                    <div class="input" name="pop">{{ field }}</div>
                </div>
   {% endfor %}
<br><br>

<h2>Team 2</h2>
      {% for field in form %}
                <div class="form-group">
                    <label style="font-size: 20px;color: black; " >{{ field.label_tag }}</label >
                    <div class="input" name="pop">{{ field }}</div>
                </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">Submit</button>
</form>
-->

<form action="{% url 'input' %}" method="post">
    {% csrf_token %}
    <h2>Team 1</h2>
    <b>Player 1</b>
    <input type="text" name="player_11">
    <br>
    <b>Player 2</b>
    <input type="text" name="player_21">
    <br>
    <b>Score 1</b>
    <input type="text" name="score_1">
    <br><br>
    <h2>Team 2</h2>
    <b>Player 1</b>
    <input type="text" name="player_12">
    <br>
    <b>Player 2</b>
    <input type="text" name="player_22">
    <br>
    <b>Score 2</b>
    <input type="text" name="score_2">
    <br>
    <br>
    <input type="Submit" name="submit">
</form>



<a href="{% url 'display' %}">Display Top 10</a>